<%
case @status
when '404'
	message = 'Page Not Found'
when '501'
	message = 'Server error.'
end
%><!DOCTYPE html>
<html lang="en">
<head>
	<title><%= @status %> - A Systemic Problem | Camp Name Here </title>
	<%= render :partial => '/shared/scriptsStylesMeta' %>
</head>
<body id="error">
	<%= render :partial => '/shared/header' %>

	<%= render :partial => '/shared/aside' %>

	<h1>That's a <%= @status %> - <%= message %></h1>
	<p>Sorry about that. May we suggest the <a href="/">home page</a> or <a href="/site-map">site map</a>?</p>

	<%= yield %>

	<%= yield :footer %>
</body>
</html>
