<!DOCTYPE html>
<html lang="en">
<head>
	<!-- LAYOUT pages.html.erb -->
	<%= page_title(@page, 'Ronningen Design', ',') %>
	<%= meta_tags(:html5 => true) %>
	<%= description(@page) %>
	<%= key_phrases(@page) %>
	<%= render :partial => '/shared/scriptsStylesMeta' %>
</head>
<body id="<%= @page.friendly_id %>" class="<%= @current_action %> <%= @current_controller %>">
	<%= render :partial => '/shared/header' %>

	<%= render :partial => '/shared/aside' %>

	<%= yield %>

	<%= render :partial => '/shared/footer' %>

	<%= yield :footer %>
</body>
</html>