<!DOCTYPE html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<!-- LAYOUT posts.html.erb -->
	<title>Blog</title>
	<%= meta_tags(:html5 => true) %>
	<%= render :partial => '/shared/stylesMeta' %>
</head>
<body class="<%= @current_action %> <%= @current_controller %>">
	<div id="wrapper">
		<%= render :partial => '/shared/header' %>

		<section class="global">
			<h1>Blog</h1>

			<%= yield %>
		</section>

		<%= render :partial => '/shared/aside' %>

		<%= render :partial => '/shared/footer' %>

		<%= render :partial => '/shared/scripts' %>
	</div><!-- end #wrapper -->

	<script type="text/javascript">
		var addthis_config = {
			"data_track_addressbar": true,
			data_ga_property: '<%= current_account.ga_profile %>',
			data_ga_social: true
		};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6a216627f69242"></script>
</body>
</html>