<!DOCTYPE html>
<html lang="en">
<head>
	<!-- LAYOUT profiles.html.erb -->
	<title>Profiles</title>
	<%= meta_tags(:html5 => true) %>
	<%= render :partial => '/shared/scriptsStylesMeta' %>
</head>
<body class="<%= @current_action %> <%= @current_controller %>">
	<%= render :partial => '/shared/header' %>

	<%= render :partial => '/shared/aside' %>

	<%= yield %>

	<%= yield :footer %>
</body>
</html>