<!DOCTYPE html>
<html lang="en">
<head>
	<!-- LAYOUT single.html.erb (single blog post) -->
	<%= page_title(@post, 'Ronningen Design', ',') %>
	<%= meta_tags(:html5 => true) %>
	<%= description(@post) %>
	<%= key_phrases(@post) %>
	<%= render :partial => '/shared/stylesMeta' %>
</head>
<body id="<%= @post.friendly_id %>" class="<%= @current_action %> <%= @current_controller %>">
	<div id="wrapper">
		<%= render :partial => '/shared/header' %>

		<%= render :partial => '/shared/aside' %>

		<h1><%= @post.title %></h1>

		<section class="global">
			<%= yield %>
		</section>

		<%= render :partial => '/shared/scripts' %>
	</div>
</body>
</html>
