<html>
<head>
	<!-- LAYOUT people/profiles.html.erb -->
	<title>Profiles</title>
	<%= meta_tags(:html5 => true) %>
	<%= render :partial => '/shared/scriptsStylesMeta' %>
</head>
<body>
	<%= render :partial => '/shared/header' %>

	<%= render :partial => '/shared/aside' %>

	<%= yield %>

	<%= yield :footer %>
</body>
</html>