<!-- BEGIN _preview.html.erb -->
	<!-- Copy of _single.html.erb with date and user elements removed. -->
	<article>
		<p class="postDate">January 1st, 2012</p>
		<h3><%= post.title %></h3>
		<%= raw post.body %>
		<%
		tags = post.tags_from(current_account)
		unless tags.empty? %>
		<p>tags
			<% tags.each do |tag| %>
			<a href="/blog/tagged/<%= to_permalink(tag) %>"><%= tag %></a>
			<% end %>
		</p>
		<% end %>

		<footer><p>Posted By <%=h post.user.first_name %> at 7am</p></footer>
	</article>
	<!-- END _preview.html.erb -->