<!-- BEGIN posts/show.html.erb -->
<% content_for :recentPosts do %>
	<% recentPosts = current_account.posts.recent_posts(current_account) %>
	<!-- Cached recent posts. -->
	<ul>
		<li>Recent News</li>
		<%= render :partial => 'recentPosts', :collection => recentPosts, :as => :post %>
	</ul>
<% end %>

<% content_for :archives do %>
	<% months = current_account.posts.find_months(current_account) %>
	<!-- Cached archives. -->
	<ul>
		<li>Archives</li>
		<%= render :partial => 'archives', :collection => months, :as => :month %>
	</ul>
<% end %>

<% content_for :footer do %>
<!-- page spesific -->
<%= javascript_include_tag 'comments' %>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6a216627f69242"></script>
<% end %>

<%
commentCount = @post.comments.count

if commentCount == 1
	commentsLink = "Comment"
else
	commentsLink = "Comments"
end
%>
<%= render :partial => @post %>

<h3>Comments</h3>
<%= render :partial => 'addComment', :locals => { :comment => @comment, :post => @post } %>

<ol id="comments">
	<li id="commentSubmited">Your comment was submitted! Once it's been approved it will appear here.</li>
<%=
if commentCount == 0
	render :partial => 'noComments'
else
	render :partial => 'comment', :collection => post.comments, :as => :comment
end
%>
</ol>
<!-- END posts/show.html.erb -->