<!-- BEGIN show.html.erb -->
<% content_for :recentPosts do %>
	<% recentPosts = current_account.posts.recent_posts(current_account) %>
	<!-- Cached recent posts. -->
	<ul>
		<li>Recent News</li>
		<%= render :partial => 'recentPosts', :collection => recentPosts, :as => :post %>
	</ul>
<% end %>

<% content_for :archives do %>
	<% months = current_account.posts.find_months(current_account) %>
	<!-- Cached archives. -->
	<ul>
		<li>Archives</li>
		<%= render :partial => 'archives', :collection => months, :as => :month %>
	</ul>
<% end %>


<% content_for :head do %>
	<%= javascript_include_tag 'comments' %>
<% end %>

<%
commentCount = @post.comments.count

if commentCount == 1
	commentsLink = "Comment"
else
	commentsLink = "Comments"
end
%>

	<article>
		<p class="postDate"><%=h @post.created_at.to_formatted_s(:basic_timestamp) %></p>
		<h3><%= @post.title %></h3>
		<%= raw @post.body %>

		<%
		tags = @post.tags_from(current_account)
		unless tags.empty? %>
		<p>tags
			<% tags.each do |tag| %>
			<a href="/blog/tagged/<%= to_permalink(tag) %>"><%= tag %></a>
			<% end %>
		</p>
		<% end %>

		<footer><p>Posted By <%=h @post.user.first_name %> at <%=h @post.created_at.to_formatted_s(:justTime_timestamp) %> | <%= commentCount %> <a href="#commentHeading"><%= commentsLink %></a> |
		<%= mail_to "", "Share This Story", :subject => @post.title, :body => "Check it out: http://www.blank.dev/" + @post.friendly_id.to_s  %></p></footer>
	</article>

	<h3>Comments</h3>
	<%= render :partial => 'addComment', :locals => { :comment => @comment, :post => @post } %>

	<ol id="comments">
		<li id="commentSubmited">Your comment was submitted! Once it's been approved it will appear here.</li>
	<%=
	if commentCount == 0
		render :partial => 'noComments'
	else
		render :partial => 'comment', :collection => post.comments, :as => :comment
	end
	%>
	</ol>
	<!-- END show.html.erb -->