<!DOCTYPE html>
<html lang="en">
<head>
	<!-- LAYOUT customPageLayout.html.erb -->
	<%= page_title(@page, 'Ronningen Design', ',') %>
	<%= meta_tags(:html5 => true) %>
	<%= description(@page) %>
	<%= key_phrases(@page) %>
	<%= render :partial => '/shared/scriptsStylesMeta' %>
	<%= yield :head %>
</head>
<body>
	<%= render :partial => '/shared/header' %>

	<%= render :partial => '/shared/aside' %>

	<%= yield %>

	<%= yield :footer %>
</body>
</html>