<!DOCTYPE html>
<html lang="en">
<head>
	<!-- LAYOUT horses/single.html.erb -->
	<title><%= @profile.name %></title>
	<%= meta_tags(:html5 => true) %>
	<%= render :partial => '/shared/stylesMeta' %>
</head>
<body>
	<div id="wrapper">
		<%= render :partial => '/shared/header' %>

		<%= render :partial => '/shared/aside' %>

		<section class="global">
			<%= yield %>
		</section>

		<%= render :partial => '/shared/scripts' %>
	</div>
</body>
</html>